<html>
<head></head>

<body>
<h1>Existing User</h1>
<form method = 'POST' action = '/login'>
<input name = "username" placeholder = "Enter Username">
<input name = "password" placeholder = "Enter Password">
<button type = 'submit'>Login!</button>
</form>

{{messageLogin}}


<h1>Add User</h1><br>
<form method = 'POST' action = '/add-user'>
<input name = "username" placeholder = "Enter Username">
<input name = "password" placeholder = "Enter Password">
<button type = 'submit'>Register!</button>
</form>

{{message}}


</body>


</html>